.deck {
  max-width: 800px;
  margin:auto;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 20px #000;
  min-height: 100%;
  max-height: 100%;

	[data-type="deck"] {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow-x: auto;
	}

	@media screen and (min-width: 760px) {
    [data-type="deck"] {
      flex-wrap: wrap;
    }
  }

	[data-card] {
	  cursor: pointer;
		flex: 0 0 auto;
  	background: #555;
  	background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 5px;
		height: 150px;
		width: 100px;
		x-border: 1px solid #000;
		border-radius: 3px;
		margin-top: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
		[data-label] {
			display: flex;
			flex: 0 0 auto;
			font-size: 10px;
			padding: 2px;
			justify-content: space-between;
			background-color: rgba(0,0,0,0.7);
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
		}

		div {
			text-align: center;
		}
	}

	[data-type="showcase"] {
	  cursor: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		[data-card] {
			[data-label] {
				display: flex;
				justify-content: space-between;
				padding: 5px;
				font-size: 15px;
				background-color: rgba(0,0,0,0.7);
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
			}
			width: 225px;
			height: 300px;
		}
	}
}
