:local(.deck) {
	[data-type="deck"] {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	[data-card] {
		margin: 5px;
		height: 200px;
		width: 150px;
		border: 1px solid #000;
		border-radius: 3px;
		padding: 2px;

		&:first-child {
			border: 1px solid #f00;
		}

		div {
			text-align: center;
		}
	}
}
